@font-face {
  font-family: Whitney;
  font-style: light;
  font-weight: 300;
  src: url("fonts/Whitney-Light.woff") format("woff");
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Whitney-Regular.woff") format("woff");
}
@font-face {
  font-family: Whitney;
  font-style: medium;
  font-weight: 600;
  src: url("fonts/Whitney-Medium.woff") format("woff");
}

@font-face {
  font-family: Whitney;
  font-style: bold;
  font-weight: 700;
  src: url("fonts/Whitney-Bold.woff") format("woff");
}

/*************
 * NORMALIZE *
 *************/
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: 0;

  font-size: inherit;
  font-family: inherit;
}

/************
 * ELEMENTS *
 ************/
body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1;
  overflow: hidden;
}

h1 {
  font-size: 22px;
  font-weight: 400;
}

h2 {
  margin: 9px 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

/**************
 * COMPONENTS *
 **************/
.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical>.flex-spacer {
  min-height: 1px;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-horizontal>.flex-spacer {
  min-width: 1px;
}

.flex-spacer {
  flex: 1;
}

.scroller-wrap {
  display: flex;
}

.scroller-wrap,
.scroller-wrap .scroller {
  min-height: 1px;
  flex: 1;
}

.scroller-wrap .scroller {
  overflow-y: scroll;
}

.scroller-wrap .scroller::-webkit-scrollbar {
  width: 14px;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}

.avatar-small {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  border-radius: 20px;
  flex-shrink: 0;
}

/***************
 * APPLICATION *
 ***************/
h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 600;
  padding: 0 30px;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-rendering: optimizeLegibility;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.application-icon {
  width: 108px;
  height: 108px;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 30px;
  flex-shrink: 0;
}

.application-icon-inner {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background-size: 96px;
}

.front-inner {
  width: 500px;
  position: relative;
  border-radius: 5px;
}

.front-inner header {
  border-radius: 5px 5px 0 0;
  padding: 24px;
}

.front-inner header h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.front-inner .details {
  padding: 30px;
}

.front-inner section {
  border-bottom: 1px solid transparent;
  padding: 13px 0;
}

.front-inner section:first-child {
  padding-top: 0;
}

.front-inner section:last-child {
  padding-bottom: 0;
}

.front-inner section p {
  padding: 8px 0;
}

.front-inner section p:first-child {
  padding-top: 0;
}

.front-inner section p:last-child {
  padding-bottom: 0;
}

.front-inner section strong {
  font-weight: 700;
}

.front .guild {
  padding: 5px 20px;
}

.front .member {
  display: flex;
  padding: 5px 20px;
  padding-right: 16px;
  font-weight: 600;
  align-items: center;
  position: relative;
}

.front .member .avatar-small {
  width: 40px;
  height: 40px;
  background-size: 40px;
  margin-right: 6px;
}

.front .member .member-username {
  font-size: 16px;
  line-height: 17px;
  overflow: hidden;
  display: flex;
}

.front .member .member-username-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.front .member .member-discriminator {
  font-size: 12px;
  opacity: 0.4;
}

.front-inner footer {
  text-align: right;
  padding: 0 30px 20px 30px;
  border-radius: 0 0 5px 5px;
}

.front-inner footer button.primary {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding: 0;
  border-radius: 3px;
  padding: 8px 21px;
}

.channel-members-wrap {
  min-width: 240px;
  display: flex;
}

.channel-members {
  max-width: 240px;
  padding: 20px 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.guild {
  display: flex;
  padding: 20px;
  padding-right: 16px;
  align-items: center;
}

.guild .avatar-small {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  border-radius: 12px;
  margin-right: 6px;
  flex-shrink: 0;
}

.guild-inner {
  overflow: hidden;
}

.guild-inner>* {
  margin: 2px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.guild .guild-name {
  font-weight: 600;
  font-size: 20px;
}

.guild .channel-name {
  font-weight: 500;
  opacity: 0.3;
}

.channel-members .member {
  display: flex;
  padding: 5px 20px;
  padding-right: 16px;
  font-weight: 600;
  align-items: center;
  position: relative;
}

.channel-members .member.me:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: ' ';
  border-left: 2px solid transparent;
  pointer-events: none;
}

.channel-members .member.inactive {
  opacity: 0.6;
}

.channel-members .avatar-small {
  margin-right: 10px;
}

.channel-members .member .member-inner {
  width: 140px;
}

.channel-members .member .member-username {
  font-size: 16px;
  line-height: 17px;
  overflow: hidden;
  display: flex;
}

.channel-members .member .member-username-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-song-wrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  border-bottom: 1px solid transparent;
  padding: 6px 20px;
  min-height: 150px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.song-progress-wrap {
  text-align: center;
  margin-left: 16px;
}

.song-progress-wrap>* {
  margin: 6px 0;
}

.dj {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dj>* {
  margin: 2px;
  flex-shrink: 0;
}

.dj>span {
  opacity: 0.6;
  margin-right: 4px;
}

.dj .avatar-small {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
}

.dj .dj-name {
  opacity: 1;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.skip .btn {
  height: 24px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: baseline;
  padding: 0 8px;
}

.skip span {
  display: none;
  margin-left: 6px;
}

.progress {
  align-items: center;
}

.progress>span {
  font-size: 14px;
}

.progress .progress-bar {
  /*border: 1px solid transparent;*/
  border-radius: 5px;
  margin: 0 8px;
  width: 100%;
  height: 10px;
  overflow: hidden;
}

.progress .progress-value {
  height: 10px;
  border-radius: 5px;
}

.current-song {
  align-items: center;
  max-width: 75%;
}

.song-image {
  width: 120px;
  height: 90px;
  text-align: center;
  margin-right: 10px;
  line-height: 0;
}

.song-image .image {
  max-width: 120px;
  max-height: 90px;
}

.song-info {
  overflow: hidden;
}

.song-info h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1; /* a:hover underline above uploader icon */
}

.song-info .uploader {
  background-repeat: no-repeat;
  height: 24px;
  line-height: 24px;
  /*margin-bottom: 4px;*/
}

.song-info .uploader.soundcloud {
  background-image: url('images/SoundCloud.png');
  padding-left: 28px;
}

.song-info .uploader.youtube {
  background-image: url('images/YouTube.png');
  padding-left: 28px;
}

.song-list {
  padding: 20px 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.song-queue {
}

.song-queue .song {
  display: flex;
  box-sizing: border-box;
  margin: 0 20px;
  align-items: center;
  border-top: 1px solid transparent;
  overflow: hidden;
}

.song-queue .song:first-of-type {
  border-top: none;
}

/*
.song-queue .song.inactive {
  opacity: 0.6;
}

.song-queue .song.inactive:hover {
  opacity: 0.8;
}
*/

.song-queue .song.deleting {
  opacity: 0.5;
}

.song-queue .song:hover {
  border-radius: 3px;
}

/* TODO */
.song-queue .song:hover .handle,
.ui-sortable-helper .handle {
  cursor: pointer;
  visibility: visible;
}

.ui-sortable-helper {
  background-color: #999;
}

.song .handle {
  width: 10px;
  visibility: hidden;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song .handle>span {
  display: block;
  width: 2px;
  height: 2px;
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
  margin: 2px;
}

.song .index {
  width: 20px;
  text-align: center;
  font-size: 11px;
}

.ui-sortable-helper .index {
  visibility: hidden;
}

.thumbnail {
  width: 72px;
  height: 54px;
  line-height: 0;
  flex-shrink: 0;
  text-align: center;
}

.thumbnail .image {
  max-width: 72px;
  max-height: 54px;
}

.song-queue .song .info {
  flex: 1;
  padding: 15px;
}

.song-queue .song .time {
  text-align: right;
  width: 85px;
  font-size: 13px;
}

.song-queue .song .actions {
  text-align: right;
  width: 30px;
}

.song-queue .song .actions .btn-delete {
  background-color: #f04747;
  padding: 4px 6px;
  color: #fff;
  border-radius: 4px;
  opacity: 0.8;
  transition: background-color .2s, opacity .2s;
  visibility: hidden;
}

.song-queue .song:hover .actions .btn-delete {
  visibility: visible;
}

.song-queue .song .actions .btn-delete:hover {
  background-color: #ee2a2a;
  opacity: 1;
}

.song-queue-wrap form {
  flex-shrink: 0;
  display: flex;
  margin: 0 20px;
}

.url-textarea {
  margin: 20px 0;
  width: 100%;
}

.url-textarea-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.url-textarea-inner {
  display: flex;
  border-radius: 3px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.url-textarea input {
  resize: none;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 18px;
}

.song-history-wrap {
  width: 30%;
  max-width: 450px;
  z-index: 1; /* above .current-time */
}

.song-history {
  padding: 20px 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.song-history .item {
  display: flex;
  margin: 0 20px;
  padding: 5px 0;
  border-top: 1px solid transparent;
}

.song-history .item:first-of-type {
  border-top: none;
}

.song-history .item .member {
  display: flex;
  align-items: center;
  width: 35%;
  padding-right: 12px;
  box-sizing: border-box;
}

.song-history .item .member .avatar-small {
  margin-right: 6px;
}

.song-history .item .song {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.song-history .item .song .info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}

.song-history .item .song .played-by {
  display: flex;
  align-items: center;
  margin-top: 2px;
  font-size: 15px;
}

.song-history .item .song .played-by .avatar-small {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  margin-right: 4px;
}

.song-history .item .song time {
  font-size: 13px;
  opacity: 0.4;
}

/**********
 * COLORS *
 **********/
body {
  background-color: #36393e;
  color: hsla(0, 0%, 100%, 0.7);
}

a {
  color: #00b0f4;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.front {
  background: #282b30;
}

.application-icon {
  background: hsla(0, 0%, 100%, 0.2);
}

.front-inner {
  background: #35383c;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.front-inner header {
  background-color: #f04747;
}

.front-inner header h1 {
  color: #fff;
}

.front-inner section {
  border-color: hsla(0, 0%, 100%, 0.1);
}

.front-inner section:last-of-type {
  border-color: transparent;
}

.front-inner footer button.primary {
  color: #fff;
  background: #738bd7;
}

.channel-members-wrap {
  background-color: #2e3136;
}

.channel-members-wrap .guild {
  box-shadow: 0 1px 0 #24272b, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.guild-inner {
  color: #fff;
}

/*
.channel-members-wrap .scroller-wrap ::-webkit-scrollbar-thumb {
  background-color: #1e2124;
  border-color: #36393e;
}

.channel-members-wrap .scroller-wrap ::-webkit-scrollbar-track-piece {
  background-color: #2e3136;
  border-color: #36393e;
}
*/

.channel-members h2 {
  color: hsla(0, 0%, 100%, 0.4)
}

.channel-members .member {
  color: hsla(0, 0%, 100%, 0.6);
}

.channel-members .member.me {
  background: linear-gradient(90deg, #282b30 85%, #2e3136);
  color: #fff;
}

.channel-members .member.me:before {
  border-color: #738bd7;
}

.current-song-wrap {
  background-color: #36393e;
  border-bottom-color: #282b30;
}

.no-song {
  margin: auto;
}

.no-song h1 {
  font-size: 32px;
  font-weight: 600;
}

.dj .dj-name {
  color: hsla(0, 0%, 100%, 0.7);
}

.skip .btn {
  background-color: #738bd7;
  color: #fff;
}

.skip .btn:hover {
  background-color: #697ec4;
}

.skip .btn:disabled {
  color: #ddd;
  background-color: #949494;
}

.progress .current-time {
  position: relative;
}

.progress .current-time .display-time {
  position: absolute;
  text-align: right;
  right: 0;
}

.progress .hidden-time {
  visibility: hidden;
}

.progress>span {
  color: hsla(0, 0%, 100%, 0.2);
}

.progress .progress-bar {
  background-color: #e9e7e7;
}

.progress .progress-value {
  background-color: #738bd7;
}

.song-info h1 a {
  color: #fff;
}

.song-info .uploader {
  color: hsla(0, 0%, 100%, 0.7);
}

.song-info .extra {
  color: #707578;
}

.song-queue .song {
  border-top-color: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.4);
}

.song-queue .song:hover {
  background: #414449;
  color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.song-queue .song .handle {
  background-color: #2e3136;
}

.song-queue .song .handle>span {
  border-color: hsla(0, 0%, 100%, 0.8);
}

.song-queue-wrap form {
  border-top: 1px solid hsla(0, 0%, 100%, 0.06);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.url-textarea-inner {
  border-color: hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.06);
}

.url-textarea-inner input {
  color: hsla(0, 0%, 100%, 0.7);
  background-color: transparent;
}

.url-textarea-inner ::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.2);
}

.song-history-wrap {
  background-color: #2e3136;
}

.song-history .item {
  border-top-color: hsla(0, 0%, 100%, 0.1);
}
